.about-author{
    padding-top: 80px;
    padding-bottom: 80px;
}
.about-author__container{
    display: flex;
    justify-content: flex-start;
}
.about-author__photo{
    margin-right: calc(56*100%/1232);
    display: block;
    width: calc(464*100%/1232);
}
.about-author__discription{
    padding-bottom: 199px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.about-author__title{
    font-family: Roboto-Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 400%;
    line-height: calc(46/40);
    margin-bottom: 24px;
    margin-top: 0;
    color: #1A1B22;
}
.about-author__comment{
    font-size: 180%;
    line-height: calc(24/18);
    width: calc(600*100%/712);
    margin-top: 0;
    color: #1A1B22;
    margin-bottom: 0;
}
@media screen and (max-width: 768px) and (min-width: 321px){
    .about-author{
        padding: 0;
    }
    .about-author__container{
        padding: 40px 0 40px;
        margin-bottom: 62px;
    }
    .about-author__photo{
        width: calc(232*100%/688);
        height: 100%;
    }
    .about-author__title{
        font-size: 300%;
        line-height: calc(46/30);
        margin-bottom: 16px;
    }
    .about-author__comment{
        width: 100%;
        margin-bottom: 4px;
    }
    .about-author__new-line{
        display: none;
    }
    .about-author__discription{
        padding-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .about-author{
        padding: 0;
    }
    .about-author__container{
        padding: 32px 0 30px;
        margin-bottom: 0;
        flex-direction: column;
    }
    .about-author__photo{
        width: calc(272*100%/288);
        height: 100%;
        margin: 0 auto;
    }
    .about-author__title{
        font-size: 300%;
        line-height: calc(40/30);
        margin-bottom: 16px;
    }
    .about-author__comment{
        width: 100%;
        margin-bottom: 4px;
    }
    .about-author__new-line{
        display: none;
    }
    .about-author__discription{
        padding-bottom: 0;
    }
}