@import url(../about-author/__comment/about-author__comment.css);
@import url(../about-author/__container/about-author__container.css);
@import url(../about-author/__discription/about-author__discription.css);
@import url(../about-author/__paragraph/about-author__paragraph.css);
@import url(../about-author/__photo/about-author__photo.css);
@import url(../about-author/__picture/about-author__picture.css);
@import url(../about-author/__title/about-author__title.css);

.about-author{
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 768px) and (min-width: 321px){
    .about-author{
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .about-author{
        padding: 0;
    }
}