@import url(./__title/for-clients__title.css);
@import url(./__paragraph/for-clients__paragraph.css);
@import url(./__information/for-clients__information.css);
.for-clients{
    padding: 80px 0 94px;
}

@media screen and (max-width: 768px) and (min-width: 321px){
    .for-clients{
        padding: 30px 0 26px;
    }
}

@media screen and (max-width: 320px) {
    .for-clients__information{
        width: 100%;
    }
}
