// .gitignore 
/node_modules
/dist


.settings
.vscode
.DS_Store
.AppleDouble
.LSOverride
.tmp
.cache
.idea

._*

*.log
*.exe
*~
*.vi
*.swp
*.swo
*.bak
*.rej
*.err
*.diff

*.cab
*.msi
*.msm
*.msp

*.lnk

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

Thumbs.db
ehthumbs.db
postcss.config.js
desktop.ini