.technologies__title{
    width: calc(344*100%/1232);
    font-family: Roboto-Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 400%;
    line-height: calc(46/40);
    margin: 0 calc(175*100%/1232) 0 0;
}
@media screen and (max-width: 820px) and (min-width: 321px){
    .technologies__title{
        width: calc(336*100%/688);
        font-size: 300%;
        line-height: calc(34/30);
        margin: 0 0 40px;
        display: block;
    }
}
@media screen and (max-width: 320px) {
    .technologies__title{
        width: 100%;
        font-size: 300%;
        line-height: calc(40/30);
        margin: 0;
    }
}