.article{
    margin: 0 8px 16px;
    background: #FFFFFF;
    width: calc(400*100%/1248);
}
.article__link{
    display: block;
    text-decoration: none;


}
.article__img{
    margin-bottom: 20px;
}
.article__container-margin-auto{
    margin: 0 auto;
    width: calc(352*100%/400);
}
.article__date{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 180%;
    line-height: calc(24/18);
    color: #B6BCBF;
    margin-bottom: 12px;
}
.article__title{
    margin-bottom: 16px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 260%;
    line-height: calc(30/26);
    color: #1A1B22;
}
.article__discription{
    margin-bottom: 18px;
    font-size: 160%;
    line-height: calc(22/16);
    color: #1A1B22;
}
.article__source{
    font-size: 160%;
    line-height: calc(20/16);
    text-transform: uppercase;
    color: #B6BCBF;
    font-style: normal;
    font-weight: bold;
}