.nothing-find{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 85px;
    padding-bottom: 80px;
    display: none;
}
.nothing-find__logo{

}
.nothing-find__title{
    font-family: Roboto-Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 260%;
    line-height: calc(30/26);
    text-align: center;
    color: #1A1B22;
    margin-top: 31.5px;
    margin-bottom: 16px;
}
.nothing-find__subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 180%;
    line-height: calc(24/18);
    text-align: center;
    color: #B6BCBF;
    display: block;
    margin:  0 auto;
    width: calc(256*100%/1440);
}
@media screen and (max-width: 768px) and (min-width: 321px){
    .nothing-find__subtitle{
        width: calc(688*100%/768);
    }
}

@media screen and (max-width: 320px) {
    .nothing-find__subtitle{
        width: calc(288*100%/388);
    }
}