@font-face{
    font-family: Roboto;
    src : url('../vendor/fonts/roboto-regular-webfont.woff') format('woff'); 
    font-style : normal;  
    font-weight : normal;
};
@font-face{
    font-family: Roboto-Slab;
    src : url('../vendor/fonts/robotoslab-regular-webfont.woff') format('woff'); 
    font-style : normal;  
    font-weight : normal;
};
@font-face{
    font-family: Roboto-Slab;
    src : url('../vendor/fonts//RobotoSlab-Bold.ttf') format('ttf'); 
    font-style : normal;  
    font-weight : bold;
};
@font-face{
    font-family: Source-Sans-Pro;
    src : url('../vendor/fonts/SourceSansPro-Regular.ttf') format('ttf'); 
    font-style : normal;  
    font-weight : normal;
};
@import url(../vendor/normalize.css);
@import url(../blocks/common-blocks/common.css);
@import url(../blocks/header/header.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/about-author/about-author.css);
/* index1 */
@import url(../blocks/header/_no-background.css);
@import url(../blocks/about-project/about-project.css);

/* index2 */
.root{
    width: 1440px;
    margin:0 auto;
    background: #FFFFFF;
    font-size: 10px;
    font-family: Roboto, sans-serif;
}