@import url(../vendor/normalize.css);
@import url(../blocks/common-blocks/common.css);
@import url(../blocks/header/header.css);

.root{
    width: 1440px;
    margin:0 auto;
    background: #FFFFFF;
    font-size: 10px;
    font-family: Roboto Arial, Helvetica, sans-serif;
}