@font-face{
    font-family: Roboto;
    src : url('../vendor/fonts/roboto-regular-webfont.woff') format('woff'); 
    font-style : normal;  
    font-weight : normal;
};
@font-face{
    font-family: Roboto-Slab;
    src : url('../vendor/fonts/robotoslab-regular-webfont.woff') format('woff'); 
    font-style : normal;  
    font-weight : normal;
};
@font-face{
    font-family: Roboto-Slab;
    src : url('../vendor/fonts//RobotoSlab-Bold.ttf') format('ttf'); 
    font-style : normal;  
    font-weight : bold;
};
@font-face{
    font-family: Source-Sans-Pro;
    src : url('../vendor/fonts/SourceSansPro-Regular.ttf') format('ttf'); 
    font-style : normal;  
    font-weight : normal;
};
@import url(../vendor/normalize.css);
@import url(../blocks/common-blocks/common.css);
@import url(../blocks/header/header.css);
@import url(../blocks/main/main.css);
@import url(../blocks/footer/footer.css);
/* index1 */
/* @import url(../blocks/about-project/about-project.css); */

.root{
    width: 100%;
    margin:0 auto;
    background: #FFFFFF;
    font-size: 10px;
    font-family: Roboto, sans-serif;
}
a:hover{
    cursor: pointer;
}