@import url(../button/button.css);
.content-margin-l-r{
    margin: 0 auto;
    width: calc(1232*100%/1440);
}

@media screen and (max-width: 768px) and (min-width: 321px){
    .content-margin-l-r{
        margin: 0 auto;
        width: calc(688*100%/768);
    }
    
}

@media screen and (max-width: 320px) {
    .content-margin-l-r{
        margin: 0 auto;
        width: calc(288*100%/320);
    }
    
}