@import url(./diagram/diagram.css);
.detail-analytics{
    background: #F5F6F7;
    padding: 80px 0 72px;
}
.detail-analytics__title{
    font-family: Roboto-Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 260%;
    line-height: calc(30/26);
    margin: 0 0 48px;
    color: #1A1B22;
}
@media screen and (max-width: 768px) and (min-width: 321px){
    .detail-analytics{
        background: #F5F6F7;
        padding: 40px 0 32px;
    }
}

@media screen and (max-width: 320px) {
    .detail-analytics{
        background: #F5F6F7;
        padding: 24px 0 38px;
    }
}