.footer__nav{
    display: flex;
    justify-content: space-between;
    min-width: 404px;
}
@media screen and (max-width: 768px) and (min-width: 425px){
    .footer__nav{
        display: flex;
        justify-content: space-between;
        width: calc(360*100%/688);
        min-width: unset;
    }
}
@media screen and (max-width: 424px){
    .footer__nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(184*100%/288);
        grid-area: nav;
        height: 120px;
        min-width: unset;
    }
}