.content-margin-l-r{
    margin: 0 auto;
    width: calc(1232*100%/1440);
}
.button{
    background: #2F71E5;
    box-sizing: border-box;
    position: absolute;
    border-radius: calc(100px);
    font-weight: 500;
    font-size: 180%;
    line-height: calc(24/18);
    color: #FFFFFF;
    display: block;
    text-align: center;
    z-index: 2;
    top: 0;
    right: 0;
    min-height: 64px;
    border: none;
    width: calc(168*100%/608);
}
@media screen and (max-width: 768px) and (min-width: 321px){
    .content-margin-l-r{
        margin: 0 auto;
        width: calc(688*100%/768);
    }
}

@media screen and (max-width: 320px) {
    .content-margin-l-r{
        margin: 0 auto;
        width: calc(288*100%/320);
    }
}