<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Приложение - поиск новостей(дипломный проект Яндекс Практикум)"> 
  <meta name="author" content="Balashov Maxim">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewsAnalyzer by Balashov Maxim</title>
  <link type="text/css" rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="icon" href="<%=require('./images/favicon/A-blue.svg')%>">
</head>
<body>
  <div class="root">
    <header class="header">
      <section class="header__top">
        <div class="content-margin-l-r">
          <h2 class="header__logo">NewsAnalyzer</h2>
          <nav class="header__links">
            <a href="" class="header__link">Главная</a>
            <a href="" class="header__link">О проекте</a>
          </nav>
        </div>
      </section>
      <section class="header__bottom">
        <h1 class="header__title">Что в мире творится?</h1>
        <p class="header__subtitle">Введите в поиске любую тему и узнайте, насколько популярной она была в носотях за прошедшую неделю.</p>
        <form action="">
          <input class="input" type="text" placeholder="Введите тему новости">
          <button class="button">Искать</button>
        </form>
      </section>
    </header>
    <main class="main">
      <section class="loading">
        <i class="loading__circle-preloader"></i>
        <h3 class="loading__message">Идет поиск новостей...</h3>
      </section>
      <section class="nothing-find">
        <img class="nothing-find__logo" src="" alt="" >
        <h3 class="nothing-find__title">Ничего не найдено</h3>
        <p class="nothing-find__subtitle">К сожалению по вашему запросу ничего не найдено.</p>
      </section>
      <section class="results">
        <div class="content-margin-l-r">
          <h3 class="results__title">Результаты поиска</h3>
          <span class="results__analitic">Посмотреть аналитику ></span>
        </div>  
        <div class="content-margin-l-r content-margin-l-r_flex">
            <article class="article">
              <a class="article__link" href="#">
                <img src="" alt="" class="article__img">
                <h3 class="article__title">Национальное достояние – парки</h3>
                <p class="article__discription">
                  В 2016 году Америка отмечала важный юбилей: 
                  сто лет назад здесь начала складываться система национальных парков – 
                  охраняемых территорий, где и сегодня каждый может приобщиться к природе. 
                </p>
                <p class="article__source">Лента.ру</p>
              </a>
            </article>
        </div>
        <button class="article__button">Показать еще</button>
      </section>
      <section class="about-author">
          <div class="content-margin-l-r">
            <img class="about-author__photo" src="" alt="">
            <div class="about-author__discription">
              <h2 class="about-author__title">Об авторе</h2>
              <p class="about-author__comment">
                  Это блок с описаением автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, 
                  какими технологиями разработки владете. <br>
                  <br>Также можно рассказать о процессе обучения в Практикуме, 
                  чему вы тут научились, и чем можете помочь потенциальным заказчикам.
              </p>
            </div>
          </div>
      </section>
      <footer class="footer">
          <div class="content-margin-l-r">
            <p class="footer__author">&#169; 2019 Supersite</p>
            <nav class="footer__nav">
              <a href="" class="footer__nav-link">Главная</a>
              <a href="" class="footer__nav-link">О проекте</a>
              <a href="" class="footer__nav-link">Яндекс.Практикум</a>
            </nav>
            <nav class="footer__social-links">
              <a href="" class="footer__social-link"><img class="foter__icon" src="" alt=""></a>
              <a href="" class="footer__social-link"><img class="foter__icon" src="" alt=""></a>
            </nav>
          </div>
      </footer>
    </main>
  </div>
</body>
<script type="module" src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

</html>
